  /* Style the pop-up */
  .popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px; 
    width: 450px; /* Width of the pop-up */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Style the pop-up content */
  .popUp-content {
    background-color: rgb(233, 233, 233);
    margin: 1% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 100%; /* 100% width */
  }

  .popUp-content p{
    color: #333;
    font-family: 'Robot', cursive;
    cursor: pointer;
    transition: 0.2s linear;
}

.popUp-content p:hover, p:focus{
    color: rgb(214, 125, 52);
}

  
  /* Style the close button */
  .popUp-close {
    color: #929292;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .popUp-close:hover,
  .popUp-close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }